image/
__pycache__
**/build/
**/*.egg-info/
**/dist/
*.so
exp
weights
data
*log*
outputs/
.vscode
.idea
*/.DS_Store
**/*.out
Dockerfileminilops/data_cache/s2tld/
minilops/data_cache/annotations/
minilops/data_cache/annotations_trainval2017.zip
minilops/data_cache/tl_finetuned.pth
minilops/data_cache/eval_before/
minilops/data_cache/eval_after/
minilops/data_cache/train_log.json
minilops/data_cache/train_progress.txt
minilops/data_cache/*_tl_filenames.txt
minilops/data_cache/images_train/
minilops/data_cache/s2tld/
minilops/data_cache/annotations/
minilops/data_cache/annotations_trainval2017.zip
minilops/data_cache/tl_finetuned.pth
minilops/data_cache/eval_before/
minilops/data_cache/eval_after/
minilops/data_cache/train_log.json
minilops/data_cache/train_progress.txt
minilops/data_cache/*_tl_filenames.txt
minilops/data_cache/images_train/
